
{% extends "main_app/base.html" %}

{% load static %}

{% block content %}

    <ul>
        <div>
            <h2>All posts, associated with a tag</h2>
            <h2>«{{ tag.tag_name }}»:</h2>
            <br><br/>
            <div>
                {% for post in posts %}
                    <li>
                        <div>
                            <h3>{{ post.post_text }}</h3>
                            {% for tag in post.post_tags.all %}
                                <a class="btn btn-info" href="/app/tags/{{tag.id}}/">{{tag}}</a>
                            {% endfor %}
                            <div>
                                <span class="small">Quote by </span>
                                <a class="small_bold" href="/app/authors/{{post.post_author.id}}">{{ post.post_author }}</a>
                                <span class="small">, posted on {{post.post_publish_date|date}}</span>
                                
                                <style>
                                    .small_bold {
                                    font-size: 16px;
                                    font-weight: bold;
                                    }
                                    .small {
                                    font-size: 16px;
                                    }
                                </style>
                                <br><br/>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                {% if user.is_authenticated and creator %}
                    <a class="btn btn-warning" href="{% url 'tag_update' tag.id %}">EDIT TAG</a>
                    <a class="btn btn-danger" href="{% url 'tag_delete' tag.id %}">DELETE TAG</a>
                {% endif %}
                <br><br/>
            </div>
        </div>
    </ul>
  
{% endblock content %}
